@font-face { font-family: Poppins-Bold; src: url('../fonts/Poppins/Poppins-Bold.ttf'); } 
@font-face { font-family: Poppins; src: url('../fonts/Poppins/Poppins-Medium.ttf'); } 


* {
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #141e30, #243b55);
}

.inactive {
  display: none;
}
.active {
  display: block;
}

.cityInputForm {
  margin:10px auto;
  height: 50px;
  form {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    input[type=text] {
      font-family: Poppins-Bold;
      width: 100%;
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      outline: none;
      border: 0.1em solid #FFFFFF;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      color: #0a1c3f;
    }
    input[type=submit] {
      float: right;
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      background: transparent;
      border: 0.1em solid #FFFFFF;
      font-size: 17px;
      cursor: pointer;
      color:#FFFFFF;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
    input[type=submit]:hover {
      background-color: #243b55;
    }
  }
}
.errorDisplay {
  height: 50px;
  text-align: center;
  color: whitesmoke;
}
.weatherMapDisplay {
  display: flex;
  flex-direction: row;
  .weatherDisplay {
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    height: wrap;
    width: wrap;
    max-width: 350px;
    min-height: 200px;
    margin: auto 10px auto auto;
    border-radius: 5px;
    .weatherBrief {
      color: whitesmoke;
      height: 100%;
      .layer1{
        width: 350px;
        text-shadow: 0 0 5px rgba(23,36,50,.5);
        padding: 0px 0px 0px 20px;
        border-bottom: 2px solid whitesmoke;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h2 {
          font-family: Poppins-Bold;
          margin: 0;
        }
      }
      .layer2 {
        width: 350px;
        display: flex;
        flex-direction: row;
        .weatherDescription {
          width: 50%;
          padding: 20px 10px 5px 20px;
          p{
            margin: 0;
          }
          .temp {
            font-family: Poppins-Bold;
            font-size: 25px;
          }
          .description {
            font-size: 14px;
          }
        }
        .weatherImage {
          width: 50%;
          height: 100px;
          img {
            height: 100%;
          }
        }
      }
    }
  }

  .mapDisplay {
    width: 350px;
    margin: auto auto auto 10px;
    .displayMap {
      height: 200px;
      width: 100%;
      .leaflet-container {
        border-radius: 5px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .weatherMapDisplay {
    display: flex;
    flex-direction: column;
    .weatherDisplay {
      margin: 10px auto;
    }
    .mapDisplay {
      margin: 10px auto;
    }
  }
}